<div class='resource-details'>
  <div class="row">
    <div class="col-lg-6">
      <h3>information</h3>
      <dl class="dl-horizontal left">
        <dt>name</dt>
        <dd>{{backingservice.spec.name}}</dd>
        <dt>generateName</dt>
        <dd>{{backingservice.spec.description}}</dd>
        <dt>documentationUrl</dt>
        <dd>
          <a ng-href="{{backingservice.spec.metadata.documentationUrl}}" target="_blank">{{backingservice.spec.metadata.documentationUrl}}</a>
        </dd>
        <dt>providerDisplayName</dt>
        <dd>{{backingservice.spec.metadata.providerDisplayName}}</dd>
        <dt>supportUrl</dt>
        <dd>
          <a ng-href="{{backingservice.spec.metadata.supportUrl}}" target="_blank">{{backingservice.spec.metadata.supportUrl}}</a>
        </dd>

        <dt>dashboard_client</dt>
        <dd>{{backingservice.spec.dashboard_client}}</dd>

      </dl>

      <h3>Status</h3>
      <dl class="dl-horizontal left">
        <dt>status:</dt>
        <dd>
          <status-icon status="backingservice.status.phase"></status-icon>
          {{backingservice.status.phase}}
        </dd>
      </dl>
    </div>
  </div>
</div>
