<div>
  <div class="container">
    <div class="col-md-12">
      <h1>新建项目</h1>
      <form name="createProjectForm">
        <fieldset ng-disabled="disableInputs">
          <div class="form-group">
            <label for="name" class="required">名称</label>
            <span ng-class="{'has-error': (createProjectForm.name.$error.pattern && createProjectForm.name.$touched) || nameTaken}">
              <input class="form-control input-lg"
                  name="name"
                  id="name"
                  placeholder="my-project"
                  type="text"
                  required
                  take-focus
                  minlength="2"
                  maxlength="63"
                  pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
                  aria-describedby="nameHelp"
                  ng-model="name"
                  ng-model-options="{ updateOn: 'default blur' }"
                  ng-change="nameTaken = false"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false">
            </span>
            <div>
              <span class="help-block">为项目指定一个唯一的名称</span>
            </div>
            <div class="has-error">
              <span id="nameHelp" class="help-block" ng-if="createProjectForm.name.$error.pattern && createProjectForm.name.$touched">
                项目名只能包含小写字母,数字,短线.不能以短线开始或结束.</span>
            </div>
            <div class="has-error">
              <span class="help-block" ng-if="nameTaken">这个名字已经存在了,请选择其它名称</span>
            </div>
          </div>

          <div class="form-group">
            <label for="displayName">显示名称</label>
            <input class="form-control input-lg"
                name="displayName"
                id="displayName"
                placeholder="My Project"
                type="text"
                ng-model="displayName">
          </div>

          <div class="form-group">
            <label for="description">描述</label>
            <textarea class="form-control input-lg"
                name="description"
                id="description"
                placeholder="一段简单的描述."
                ng-model="description"></textarea>
          </div>

          <div class="button-group">
            <button type="submit"
                class="btn btn-primary btn-lg"
                ng-click="createProject()"
                ng-disabled="createProjectForm.$invalid || nameTaken || disableInputs"
                value="">创建</button>
            <a class="btn btn-default btn-lg" href="#" back>取消</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
