<div ng-if="!showGetStarted" class="container">
  <div ng-if="(projects | hashSize) === 0" class="text-muted">加载中...</div>
  <div ng-if="(projects | hashSize) !== 0">
    <h1 style="display: inline-block;">项目列表</h1>
    <a ng-if="canCreate" href="createProject" style="margin-top: 10px;" class="btn btn-lg btn-primary pull-right">新建项目</a>
    <alerts alerts="alerts"></alerts>
    <div ng-repeat="project in projects | orderByDisplayName">
      <div row flex cross-axis="center" class="tile tile-project tile-click tile-flex">
        <div flex>
          <h2 class="project">
            <a class="tile-target" href="project/{{project.metadata.name}}">{{(project | uniqueDisplayName : projects)}}</a>
            <span ng-if="project.status.phase != 'Active'" data-toggle="tooltip" data-placement="right" title="This project has been marked for deletion." class="pficon pficon-warning-triangle-o" style="cursor: help; vertical-align: top; margin-left: 5px;"></span>
          </h2>
          <div class="muted" style="margin-top: -5px;" ng-if="project | description">
            <truncate-long-text content="project | description" limit="512" use-word-boundary="true"></truncate-long-text>
          </div>
        </div>
        <div row main-axis="end" ng-if="project.status.phase == 'Active'">
          <delete-link
            class="fa-lg"
            resource-type="project"
            resource-name="{{project.metadata.name}}"
            project-name="{{project.metadata.name}}"
            display-name="{{(project | displayName)}}"
            alerts="alerts"
            button-only>
          </delete-link>
        </div>
      </div>
    </div>
    <div ng-if="canCreate === false" style="margin-top: 10px;">
      <span ng-if="!newProjectMessage">
        集群管理员可以通过命令行创建一个项目:
        <code>oadm new-project &lt;projectname&gt; --admin={{user.metadata.name || '&lt;YourUsername&gt;'}}</code></span>
      <span ng-if="newProjectMessage" ng-bind-html="newProjectMessage | linky" style="white-space:pre;"></span>
    </div>
    <div style="margin-top: 10px;">
      项目管理员可以通过命令行将你添加到一个项目中去:
      <code>oc policy add-role-to-user admin {{user.metadata.name || '&lt;YourUsername&gt;'}} -n &lt;projectname&gt;</code>
    </div>
  </div>
</div>

<div ng-if="showGetStarted" class="empty-state-message empty-state-full-page text-center">
  <h1>欢迎使用DataFactory</h1>

  <p>
    DataFactory帮助您快速开发、部署健壮的应用 <br>
    <span ng-if="canCreate">为你的应用创建一个项目吧</span>
  </p>

  <a ng-if="canCreate" href="createProject" class="btn btn-lg btn-primary">新建项目</a>

  <p>了解更多, 请访问 DataFactory <a ng-href="{{'' | helpLink}}">文档</a>.</p>

  <p ng-if="canCreate === false">
    <span ng-if="!newProjectMessage">
      集群管理员可以通过命令行创建一个项目:<br>
      <code>oadm new-project &lt;projectname&gt; --admin={{user.metadata.name || '&lt;YourUsername&gt;'}}</code></span>
    <span ng-if="newProjectMessage" ng-bind-html="newProjectMessage | linky" style="white-space:pre;"></span>
  </p>

</div>
