<div class='resource-details'>
  <div class="row">
    <div class="col-lg-6">
      <h3>绑定应用</h3>
      <div ng-if="!backingserviceinstance.spec.bound">
        未绑定
      </div>
      <dl ng-if="backingserviceinstance.spec.bound" class="dl-horizontal left">
      	<dt>服务名称</dt>
        <dd>{{backingserviceinstance.spec.provisioning.backingservice_name}}</dd>
        <dt>运行时间</dt>
        <dd>{{backingserviceinstance.metadata.creationTimestamp}}</dd>
        <dt>绑定服务名称</dt>
        <dd>{{backingserviceinstance.spec.bind_deploymentconfig}}</dd>
        <dt>证书</dt>
        <dt>
          <!--<span ng-if="backingserviceinstance.spec.binding">-->
            <!--<span ng-repeat="(k, v) in backingserviceinstance.spec.binding">-->
              <!--<strong>{{k}}</strong>: {{v}}<br>-->
            <!--</span>-->
          <!--</span>-->
          <span ng-if="backingserviceinstance.spec.binding">
            <strong>Host:</strong>{{backingserviceinstance.spec.binding.Host}}<br>
            <strong>Host:</strong>{{backingserviceinstance.spec.binding.Name}}<br>
            <strong>Host:</strong>{{backingserviceinstance.spec.binding.Password}}<br>
            <strong>Host:</strong>{{backingserviceinstance.spec.binding.Port}}<br>
            <strong>Host:</strong>{{backingserviceinstance.spec.binding.Uri}}<br>
            <strong>Host:</strong>{{backingserviceinstance.spec.binding.Username}}<br>
            <strong>Host:</strong>{{backingserviceinstance.spec.binding.Vhost}}<br>
          </span>
        </dt>
      </dl>
    </div>
  </div>
</div>
